<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Assessment Registeration</title>
<style>
.divider:after, .divider:before {
	content: "";
	flex: 1;
	height: 1px;
	background: #eee;
}

.h-custom {
	height: calc(100% - 73px);
}

@media ( max-width : 450px) {
	.h-custom {
		height: 100%;
	}
}
</style>
</head>
<body>
	<section class="vh-100">
		<div
			class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-2 px-2 px-xl-3 bg-dark">
			<h3 class="text-light">Assessment Zone</h3>
			<a th:href="@{redirectToLogin}" class="btn btn-danger">Log out</a>
		</div>
		<div class="container-fluid h-custom">
			<div
				class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-md-9 col-lg-6 col-xl-5">
					<h4>Technical Assessment Registeration</h4>
					<form th:action="@{/persistTechAss}" method="POST">

						<div data-mdb-input-init class="form-outline mb-4">
							<input type="number" id="form3Example3" name="userId"
								class="form-control form-control" placeholder="UserId" min="1000" max="10000" required/>
						</div>

						<div data-mdb-input-init class="form-outline mb-4">
							<select name="assessment" class="form-select"
								aria-label="Default select example">
								<option value="Java">Java</option>
								<option value="C#">C#</option>
								<option selected value="Pyhton">Python</option>
								<option value="C++">C++</option>
								<option value="SQL">SQL</option>
								<option value="GoLang">GoLang</option>
							</select>
						</div>

						<div data-mdb-input-init class="form-outline mb-3">
							<input type="date" id="form3Example3" name="date"
								class="form-control form-control" placeholder="Assessment Date"/>
						</div>


						<div class="text-center text-lg-start mt-4 pt-2">
							<button type="submit" data-mdb-button-init data-mdb-ripple-init
								class="btn btn-outline-dark"
								style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
						</div>

					</form>
				</div>
				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 m-5">


					<img
						src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img2.webp"
						class="img-fluid" alt="Sample image">
				</div>
			</div>
		</div>

	</section>
</body>
</html>